@page "/projects/newproject"

<div class="row">
	<MudButtonGroup Variant="Variant.Outlined" Color="Color.Success" OverrideStyles="false" >
		<MudIconButton Class="mx-4 my-2" Variant="Variant.Filled" Icon="@Icons.Material.Filled.Save" Title="@Localizer["saveNewProject"]" Color="Color.Success"  @onclick="(e => GoToPage(_toProject))"/>	 
		<MudIconButton Class="mx-4 my-2" Variant="Variant.Filled" Icon="@Icons.Material.Outlined.CollectionsBookmark" Title="@Localizer["listOfContracts"]" Color="Color.Info"  @onclick="(e => GoToPage(_toContracts))"/>	 

	</MudButtonGroup>
</div>


<MudTextField Class="@_class" FullWidth T="string" Label="@Localizer["projectName"]" Variant="Variant.Outlined"></MudTextField>	

<MudAutocomplete T="ContractModel" Label="@Localizer["index"]" @bind-Value="_selectedContract"> </MudAutocomplete>

<MudTextField Class="@_class" T="string" Label="@Localizer["order"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["contractNumber"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["contractDate"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["customer"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["cpe"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["calculator"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["buildingZone"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["buildingView"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["releaseDate"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["releaseDateByContract"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["designStage"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["buildingNumber"]" Variant="Variant.Outlined"></MudTextField>	
<MudTextField Class="@_class" T="string" Label="@Localizer["dateWorkStart"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["sourceOfFinancing"]" Variant="Variant.Outlined"></MudTextField>	
<MudTextField Class="@_class" T="string" Label="@Localizer["versionCiC"]" Variant="Variant.Outlined"></MudTextField>
<MudTextField Class="@_class" T="string" Label="@Localizer["printType"]" Variant="Variant.Outlined"></MudTextField>


